h1 {
  text-align: center;
  margin: 40px;
}
h2{
  text-align:center;
}
svg {
  background-color: rgb(190, 184, 184);
  overflow: visible;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.svgBox {
  margin: 40px 20px;
}
.svgCircle {
  overflow: hidden;
}
